rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function validAccount(userEmail){
      return userEmail.split('@')[1] == 'ourlifeloop.com';
    }
    
    function validAuth(auth) {
      return auth != null && validAccount(auth.token.email)
    }

    match /events/{eventId} {
      allow read, create: if validAuth(request.auth);
      allow update, delete: if validAuth(request.auth) && resource.data.creator == request.auth.uid;
    }
    match /state/on-call {
      allow read, write: if validAuth(request.auth);
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}