.textarea {
  height: 100px;
  resize: none;
}

.select {
  margin-bottom: 1.5rem;
}

:global(.react-select__input) {
  input {
    height: initial !important;
    margin: 0;
  }
}

.datepicker {
  :global(.react-datepicker-wrapper),
  :global(.react-datepicker__input-container) {
    width: 100%;
  }
}
